#canvas{
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 0px;
  position: absolute;
  border-radius: 4px;
  top: 120px;
}

#sitebody{
  width:1200px;
  margin:0 auto;
}
#header{
  margin-top: 40px;
  background-color:#FFADAD;
  height:80px;
  text-align:center;
  line-height:80px;
  font-size:30px;
  font-family: 'Papyrus';
}
#sidebar_left{
  background-color:#FFD6A5;
  width:300px;
  height:600px;
  text-align:center;
  line-height:45px;
  float:left;
}
#sidebar_right{
  background-color:#FFD6A5;
  width:300px;
  height:600px;
  text-align:center;
  line-height:50px;
  float:right;
}
#content{
  margin-left:120px;
  margin-right:120px;
  height:400px;
  background-color:#F2FFF2;
  text-align:center;
}
#footer{
  clear:both;
  background-color:#FFADAD;
  height:80px;
  text-align:center;
  line-height:80px;
}

/*color selector*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

p {
  font-family: 'Papyrus';
  color: #000000;
  text-align:center;
}

#color-input {
  display: none;
}
#color-label {
  margin-left: 50px;
  position: absolute;
  height: 30px;
  width: 50px;
  border-radius: 4px;
} 
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  background-color: white;
  height: 100px;
  width: 140px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 5px;
  margin-left: 30px;
  border-radius: 4px;
}

#downloadBtn {
  margin-top: 3px;
  background-image:url(download.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
}

#labeluploadBtn{
  background-image:url(upload.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
}

#brushBtn {
  margin-top: 20px;
  background-image:url(brushBtn.png);
  background-color: #FFFFFF;
  height: 45px;
  width: 45px;
  border-radius:10px;
}

#rainbowBtn {
  background-image:url(rainbow.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
}

#eraserBtn {
  background-image:url(eraserBtn.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
}

#circleBtn {
  background-image:url(circleBtn.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
}

#triangleBtn {
  background-image:url(triangleBtn.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
} 

#rectangleBtn {
  background-image:url(rectangleBtn.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
}

#refreshBtn {
  background-image:url(refreshBtn.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
}

#textBtn {
  background-image:url(textBtn.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
}

#undoBtn {
  background-image:url(undoBtn.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
}

#redoBtn {
  background-image:url(redoBtn.png);
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius:10px;
}